body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 13%;
}

#branding h1 {
    color: #2acfcf;
    font-weight: bold;
}

.main-nav-item {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 0 .5rem;
}

.main-nav-item a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    text-align: center;
}

.main-nav-item a:hover {
    color: black;
}

.slogan-container {
    padding: 0 10%;
}

#front-img-bg {
    text-align: right;
}

#front-img-bg img {
    max-width: 80%;
}

#front-message {
    font-family: sans-serif;
    color: #3a3939;
    font-size: 320%;
    margin-bottom: -0.5%;
    margin-left: 10%;
}

.slogan p {
    color: #888585;
    margin-left: 10%;
    font-size: 18px;
}

.get-started-btn {
    background: #2acfcf;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-top: 1.5rem;
    font-size: 105%;
}

.get-started-btn:hover {
    border: 0;
    color: gray;
}

.main-section {
    background: #e2e5ee;
}

#search-form {
    margin-top: 8%;
    margin-left: 15%;
    background: hsl(257, 27%, 26%) url('/img/bg-boost-desktop.svg') no-repeat;
    border-radius: 5px;
    height: 18vh;
    width: 70%;
}

#search input[type="text"] {
    margin-left: 5%;
    margin-top: 5%;
    width: 78%;
    height: 6vh;
    border: none;
    font-style: inherit;
}

#search input[type="submit"] {
    margin-left: 1%;
    height: 6vh;
    width: 10%;
    border: 0;
    border-radius: 6px;
    color: white;
    background: #2acfcf;
    font-size: 90%;
    cursor: pointer;
}

#search input[type="submit"]:hover {
    color: gray;
    outline: 0;
    display: inline-block;
}

#statisfied-customers-title {
    font-family: sans-serif;
    color: #3a3939;
    font-size: 200%;
    margin-top: 5%;
    text-align: center;
}

#boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
}

#boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 15px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 20px #00000026;
    background: white;
}

#boxes .box img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

#boxes .box h3 {
    text-align: center;
    font-family: sans-serif;
    color: #3a3939;
    margin-bottom: -1%;
}

#boxes .box p {
    color: #575353;
    text-align: left;
    font-size: 16px;
}

.box-title {
    font-weight: bold;
    text-transform: uppercase;
}

#product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15rem;
    background: #3b3054 url('/img/bg-boost-desktop.svg') no-repeat;
}

#product-title {
    text-align: center;
    color: white;
    font-family: sans-serif;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #232127;
    height: auto;
    padding: 0 25%;
    padding-left: 5%;
}

#logo {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: white;
}

#feature {
    display: flex;
    flex-direction: column;
    color: white;
}

#feature h3 {
    font-family: sans-serif;
    font-size: 2rem;
}

.feature_item {
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

#resources {
    display: flex;
    flex-direction: column;
    color: white;
}

#resources h3 {
    font-size: 2rem;
}

#products {
    display: flex;
    flex-direction: column;
    color: white;
}

#products h3 {
    font-size: 2rem;
}

@media(max-width: 768px) {
    #main-nav {
        padding: 0;
    }
    .slogan-container {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .slogan {
        order: 2;
    }
    #front-img-bg {
        order: 1
    }
    #front-message {
        font-size: 30px;
    }
    #search-form {
        width: 100%;
        margin: 0;
    }
    #boxes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 5%;
    }
    #footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #search input[type="submit"] {
        width: auto;
    }
}